main > section {
  padding: var(--base-space);
}

.gallery {
  display: flex;
  gap: var(--base-space);
  flex-wrap: wrap;
  justify-content: space-between;

  & img {
    box-shadow:
      0px 12px 16px -4px rgba(16, 24, 40, 0.08),
      0px 4px 6px -2px rgba(16, 24, 40, 0.03);
  }

  & > * {
    flex-basis: calc(33.33% - var(--base-space));
    text-decoration: none;
  }

  & footer {
    padding: 0;
    margin-top: calc(var(--base-space) / 2);
    background-color: unset;
    color: var(--black);
    & p {
      margin: 0;
      margin-bottom: 0.125rem;
    }

    p:first-of-type {
      font-weight: bold;
      font-size: 1.15rem;
    }
  }
}

@media screen and (max-width: 800px) {
  .gallery {
    & > * {
      flex-basis: calc(50% - var(--base-space));
    }
  }
}

@media screen and (max-width: 400px) {
  .gallery {
    & > * {
      flex-basis: 100%;
    }
  }
}
