header {
  background-color: var(--black);
  padding: var(--base-space);

  & .content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & h1 {
    font-size: 2em;
    margin: 0;

    & a {
      text-decoration: none;
    }
  }

  & a {
    color: var(--white);
  }

  & ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    column-gap: var(--base-space);
  }
}
