.carrousel {
	background-color: var(--black);
	margin-bottom: var(--base-space);
	& ul {
		/*width: calc(100vw - var(--max-width));*/
		display: flex;
		gap: 4vw;
		margin: 0;
		padding: 0;
		list-style-type: none;
		overflow-x: scroll;
		scroll-snap-type: x mandatory;
	}

	& li {
		padding: var(--base-space) 0;
		list-style-type: none;
		scroll-snap-align: center;
		flex: 0 0 100%;
		display: flex;
		gap: var(--base-space);
		justify-content: space-between;
	}

	& picture {
		height: 40vh;
		max-width: calc(33.33% - var(--base-space));
	}

	& img {
		width: auto;
		max-height: 100%;
		object-fit: cover;
		max-width: unset;
	}
}
