.bio {
  padding: 0 var(--base-space);
  margin-bottom: var(--base-space);
}

.carousel {
  background-color: var(--black);
  margin-bottom: var(--base-space);
  padding: 0 var(--base-space);
  & ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }

  & li {
    padding: var(--base-space) 0;
    list-style-type: none;
    scroll-snap-align: center;
    flex: 0 0 100%;
    display: flex;
    gap: var(--base-space);
    justify-content: space-between;
  }

  & picture {
    height: 50vh;
    max-width: calc(50% - var(--base-space));
  }

  & img {
    width: auto;
    max-height: 100%;
    object-fit: cover;
    max-width: unset;
  }
}

@media screen and (max-width: 800px) {
  .carousel {
    & li {
      justify-content: center;
    }

    & picture {
      height: 50vh;
      max-width: 100%;
    }
  }
}
