* {
	box-sizing: border-box;
}

:root {
	--black: rgb(0, 0, 0);
	--white: rgb(255, 255, 255);
	--base-space: 1.25rem;
	--max-width: 72rem;
}

body {
	font-family: "IBM Plex Sans", sans-serif;
	font-size: 100%;
	line-height: 1.75;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "IBM Plex Serif", serif;
}

a {
	color: var(--black);
	text-decoration-line: underline;
	text-decoration-thickness: 0.0625rem;
}

a:hover {
	text-decoration-color: color(from currentColor srgb r g b / 0.75);
	text-decoration-thickness: 0.125rem;
}

a:active,
a:focus {
	text-decoration-color: color(from currentColor srgb r g b / 0.75);
	text-decoration-thickness: 0.1875rem;
}

a:visited {
	text-decoration-color: color(from currentColor srgb r g b / 0.1);
	text-decoration-thickness: 0.0625rem;
}

picture {
	display: block;
}

p {
	max-width: 42rem;
}

img,
svg {
	display: block;
	height: auto;
	max-width: 100%;
}

.content-wrapper {
	max-width: var(--max-width);
	margin: 0 auto;
}

main {
	flex: 1 1 auto;
	& h2 {
		margin-top: 0;
	}
}
